* {
	margin: 0;
	padding: 0;
}

html, body {
	width:100%;
	height: 100%;
}

nav {
	width: 100%;
	position: fixed;
	z-index: 2;
	margin-top: 10px;
}

.navContainer {
	width: 50%;
	margin: 0 auto;
}

.navContainer ul {
	list-style: none;
	text-align: center;
	display: inline;
	float: right;
}

.navContainer ul li {
	margin: 0 10px 0 10px;
}

ul a {
	color: white;
	display: inline-block;
	/*TEXT*/
	text-decoration: none;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: 100;
}

ul a:hover {
	color: rgba(255,255,255, 0.5);
}

.landing {
	height: 100%;
    width: 100%;
    color: white;
}

.landing h1,h2,.cta {
	 position: relative;
    top: 45%;
}

.landing h1{
  text-align: center;
	font-family: "brandon-grotesque",sans-serif;
  font-size: 40pt;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgba(0,0,05, 0.5);
  line-height: 50px;
}
.landing h2{
  text-align: center;
  font-family: sans-serif;
  font-size: 25pt;
  font-weight: 100;
  text-shadow: 2px 2px 2px rgba(0,0,05, 0.5);
}

.cta {
	max-width: 350px;
	height: 50px;
	margin: 35px auto;
	background: #F23C55;
  border-radius: 5px;
  line-height: 50px;
  font-weight: 100;
  position: relative;
}

.cta a {
    text-decoration: none;
    color: white;
}

.cta:hover{
  transform:scale(1.05,1.05);
  transform-origin: 25% 25% inital;
  transition-duration: 0.5s;
}

.container {
	min-height: 600px;
}

.main {
	width: 100%;
	position: relative;
}
/*START SLANTED #1*/
.slantOne::before {
  content: '';
  position: absolute;
  left: 0;
  top: -45px;
  width: 100%;
  height: 90px;
  background: inherit;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  z-index: 0;
}

.slantOne::after {
  content: '';
  position: absolute;
  bottom: -45px;
  width: 100%;
  height: 90px;
  background: inherit;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  z-index: 0;
}

/*END SLANTED #1*/
.mainContent {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	color: white;
	position: relative;
}

.mainContent > h1{
	font-family: sans-serif;
	font-weight: 900;
	margin-bottom: 40px;
  text-align: center;
}

.mainContent > p {
	line-height: 25pt;
	font-family: sans-serif;
	font-weight: 100;
    z-index: 2;
}

.mainContent > p:last-child{
	margin-bottom: 30px;
}


section {
  height: 50%;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  z-index: -1;
}

/*COLOUR DECLARATIONS*/

.orange {
  background: #C44741;
}

.grey {
  background: #303233;
}

/*IMAGE DECLARATIONS*/
#imageOne {
  background: url("../img/bg_1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#imageTwo {
  background: url("../img/bg_2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#imageThree {
  background: url("../img/bg_3.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
